<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="service.subfly">
    <category id="general" label="30000" help="">
      <group id="1" label="30001">
        <setting id="enabled" type="boolean" label="30010" help="30011">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="service_url" type="string" label="30012" help="30013">
          <level>0</level>
          <default>http://192.168.1.10:8765</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30012</heading>
          </control>
        </setting>
        <setting id="api_token" type="string" label="30014" help="30015">
          <level>1</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30014</heading>
            <hidden>true</hidden>
          </control>
        </setting>
        <setting id="language" type="string" label="30016" help="30017">
          <level>0</level>
          <default>en</default>
          <constraints>
            <options>
              <option label="English">en</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
      </group>
      <group id="3" label="30030">
        <setting id="capture_mode" type="string" label="30031" help="30032">
          <level>0</level>
          <default>live_capture</default>
          <constraints>
            <options>
              <option label="30033">live_capture</option>
              <option label="30034">file_path</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
        <setting id="audio_backend" type="string" label="30035" help="30036">
          <level>0</level>
          <default>pulse</default>
          <constraints>
            <options>
              <option label="PulseAudio / PipeWire monitor (Linux)">pulse</option>
              <option label="ALSA loopback device (Linux)">alsa</option>
              <option label="DirectShow virtual cable (Windows)">dshow</option>
              <option label="AVFoundation virtual device (macOS)">avfoundation</option>
              <option label="Custom ffmpeg input args">custom</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
          <dependencies>
            <dependency type="visible" setting="capture_mode" operator="is">live_capture</dependency>
          </dependencies>
        </setting>
        <setting id="audio_device" type="string" label="30037" help="30038">
          <level>1</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30037</heading>
          </control>
          <dependencies>
            <dependency type="visible" setting="capture_mode" operator="is">live_capture</dependency>
          </dependencies>
        </setting>
        <setting id="custom_input_args" type="string" label="30039" help="30040">
          <level>1</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30039</heading>
          </control>
          <dependencies>
            <dependency type="visible" setting="capture_mode" operator="is">live_capture</dependency>
            <dependency type="visible" setting="audio_backend" operator="is">custom</dependency>
          </dependencies>
        </setting>
        <setting id="ffmpeg_path" type="string" label="30041" help="30042">
          <level>1</level>
          <default>ffmpeg</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30041</heading>
          </control>
          <dependencies>
            <dependency type="visible" setting="capture_mode" operator="is">live_capture</dependency>
          </dependencies>
        </setting>
      </group>
      <group id="2" label="30002">
        <setting id="notify_start" type="boolean" label="30020" help="">
          <level>1</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="notify_errors" type="boolean" label="30021" help="">
          <level>1</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>
  </section>
</settings>
